In [2]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.2f}'.format)

df = pd.read_excel('DT1_PAINEL_COVIDBR_20200512.xlsx')

In [46]:
# df
# len(df[df.municipio =='Cruzeiro do Sul'])
df[df.municipio =='Uberlândia']
df[df.data =='2020-03-15']

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,obitosAcumulado,Recuperadosnovos,emAcompanhamentoNovos
18,Brasil,NaN,NaN,76,nan,nan,NaN,2020-03-15,12,210147125.00,200,0,nan,nan
4102,Centro-Oeste,GO,NaN,52,nan,nan,NaN,2020-03-15,12,7018354.00,3,0,nan,nan
4215,Centro-Oeste,DF,NaN,53,nan,nan,NaN,2020-03-15,12,3015268.00,8,0,nan,nan
14899,Nordeste,RN,NaN,24,nan,nan,NaN,2020-03-15,12,3506853.00,1,0,nan,nan
20385,Nordeste,PE,NaN,26,nan,nan,NaN,2020-03-15,12,9557071.00,2,0,nan,nan
21569,Nordeste,AL,NaN,27,nan,nan,NaN,2020-03-15,12,3337357.00,1,0,nan,nan
22557,Nordeste,SE,NaN,28,nan,nan,NaN,2020-03-15,12,2298696.00,1,0,nan,nan
27203,Nordeste,BA,NaN,29,nan,nan,NaN,2020-03-15,12,14873064.00,2,0,nan,nan
29741,Norte,AM,NaN,13,nan,nan,NaN,2020-03-15,12,4144597.00,1,0,nan,nan
40104,Sudeste,MG,NaN,31,nan,nan,NaN,2020-03-15,12,21168791.00,2,0,nan,nan
41878,Sudeste,ES,NaN,32,nan,nan,NaN,2020-03-15,12,4018650.00,1,0,nan,nan
44862,Sudeste,RJ,NaN,33,nan,nan,NaN,2020-03-15,12,17264943.00,24,0,nan,nan
55536,Sudeste,SP,NaN,35,nan,nan,NaN,2020-03-15,12,45919049.00,136,0,nan,nan
60099,Sul,PR,NaN,41,nan,nan,NaN,2020-03-15,12,11433957.00,6,0,nan,nan
64616,Sul,SC,NaN,42,nan,nan,NaN,2020-03-15,12,7164788.00,6,0,nan,nan
69591,Sul,RS,NaN,43,nan,nan,NaN,2020-03-15,12,11377239.00,6,0,nan,nan

In [34]:
a = df[['estado', 'municipio', 'data']].groupby(['estado', 'municipio']).agg(np.count_nonzero)

In [35]:
# a.loc['Uberlândia']
a.sort_values('data', ascending=False)

                              data
estado municipio
MA     São Luís                 46
SC     São Ludgero              46
RN     Natal                    46
SC     Tijucas                  46
       Timbé do Sul             46
...                            ...
RO     Monte Negro               1
       Nova Mamoré               1
       Presidente Médici         1
       São Miguel do Guaporé     1
PI     Nazaré do Piauí           1

[2993 rows x 1 columns]

In [59]:
a.index

MultiIndex([('AC',              'Acrelândia'),
            ('AC',            'Assis Brasil'),
            ('AC',               'Brasiléia'),
            ('AC',                  'Bujari'),
            ('AC',                'Capixaba'),
            ('AC',         'Cruzeiro do Sul'),
            ('AC',          'Epitaciolândia'),
            ('AC',                   'Feijó'),
            ('AC',    'Marechal Thaumaturgo'),
            ('AC',             'Mâncio Lima'),
            ...
            ('TO',             'Praia Norte'),
            ('TO',                  'Pugmil'),
            ('TO',                 'Sampaio'),
            ('TO',            'Silvanópolis'),
            ('TO',  'São Bento do Tocantins'),
            ('TO', 'São Miguel do Tocantins'),
            ('TO', 'Sítio Novo do Tocantins'),
            ('TO',          'Tocantinópolis'),
            ('TO',            'Wanderlândia'),
            ('TO',                 'Xambioá')],
           names=['estado', 'municipio'], length=2993)

In [54]:
b = df[df.municipio.notna()][['municipio', 'data']].groupby(['data']).agg(np.count_nonzero)

In [58]:
b.index

Index(['2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
       '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
       '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21',
       '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
       '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
       '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11',
       '2020-05-12'],
      dtype='object', name='data')

In [52]:
df[df.municipio.notna()].data

77       2020-03-31
78       2020-04-01
79       2020-04-02
80       2020-04-03
81       2020-04-04
            ...
69581    2020-05-08
69582    2020-05-09
69583    2020-05-10
69584    2020-05-11
69585    2020-05-12
Name: data, Length: 67513, dtype: object

In [109]:
df2 = pd.DataFrame(columns=b.index, index = a.index)
df2

data                           2020-03-28 2020-03-29 2020-03-30 2020-03-31  \
estado municipio
AC     Acrelândia                     NaN        NaN        NaN        NaN
       Assis Brasil                   NaN        NaN        NaN        NaN
       Brasiléia                      NaN        NaN        NaN        NaN
       Bujari                         NaN        NaN        NaN        NaN
       Capixaba                       NaN        NaN        NaN        NaN
...                                   ...        ...        ...        ...
TO     São Miguel do Tocantins        NaN        NaN        NaN        NaN
       Sítio Novo do Tocantins        NaN        NaN        NaN        NaN
       Tocantinópolis                 NaN        NaN        NaN        NaN
       Wanderlândia                   NaN        NaN        NaN        NaN
       Xambioá                        NaN        NaN        NaN        NaN

data                           2020-04-01 2020-04-02 2020-04-03 2020-04-04  \
estado municipio
AC     Acrelândia                     NaN        NaN        NaN        NaN
       Assis Brasil                   NaN        NaN        NaN        NaN
       Brasiléia                      NaN        NaN        NaN        NaN
       Bujari                         NaN        NaN        NaN        NaN
       Capixaba                       NaN        NaN        NaN        NaN
...                                   ...        ...        ...        ...
TO     São Miguel do Tocantins        NaN        NaN        NaN        NaN
       Sítio Novo do Tocantins        NaN        NaN        NaN        NaN
       Tocantinópolis                 NaN        NaN        NaN        NaN
       Wanderlândia                   NaN        NaN        NaN        NaN
       Xambioá                        NaN        NaN        NaN        NaN

data                           2020-04-05 2020-04-06  ... 2020-05-03  \
estado municipio                                      ...
AC     Acrelândia                     NaN        NaN  ...        NaN
       Assis Brasil                   NaN        NaN  ...        NaN
       Brasiléia                      NaN        NaN  ...        NaN
       Bujari                         NaN        NaN  ...        NaN
       Capixaba                       NaN        NaN  ...        NaN
...                                   ...        ...  ...        ...
TO     São Miguel do Tocantins        NaN        NaN  ...        NaN
       Sítio Novo do Tocantins        NaN        NaN  ...        NaN
       Tocantinópolis                 NaN        NaN  ...        NaN
       Wanderlândia                   NaN        NaN  ...        NaN
       Xambioá                        NaN        NaN  ...        NaN

data                           2020-05-04 2020-05-05 2020-05-06 2020-05-07  \
estado municipio
AC     Acrelândia                     NaN        NaN        NaN        NaN
       Assis Brasil                   NaN        NaN        NaN        NaN
       Brasiléia                      NaN        NaN        NaN        NaN
       Bujari                         NaN        NaN        NaN        NaN
       Capixaba                       NaN        NaN        NaN        NaN
...                                   ...        ...        ...        ...
TO     São Miguel do Tocantins        NaN        NaN        NaN        NaN
       Sítio Novo do Tocantins        NaN        NaN        NaN        NaN
       Tocantinópolis                 NaN        NaN        NaN        NaN
       Wanderlândia                   NaN        NaN        NaN        NaN
       Xambioá                        NaN        NaN        NaN        NaN

data                           2020-05-08 2020-05-09 2020-05-10 2020-05-11  \
estado municipio
AC     Acrelândia                     NaN        NaN        NaN        NaN
       Assis Brasil                   NaN        NaN        NaN        NaN
       Brasiléia                      NaN        NaN        NaN        NaN
       Bujari                         NaN        NaN        NaN        NaN
       Capixaba                       NaN        NaN        NaN        NaN
...                                   ...        ...        ...        ...
TO     São Miguel do Tocantins        NaN        NaN        NaN        NaN
       Sítio Novo do Tocantins        NaN        NaN        NaN        NaN
       Tocantinópolis                 NaN        NaN        NaN        NaN
       Wanderlândia                   NaN        NaN        NaN        NaN
       Xambioá                        NaN        NaN        NaN        NaN

data                           2020-05-12
estado municipio
AC     Acrelândia                     NaN
       Assis Brasil                   NaN
       Brasiléia                      NaN
       Bujari                         NaN
       Capixaba                       NaN
...                                   ...
TO     São Miguel do Tocantins        NaN
       Sítio Novo do Tocantins        NaN
       Tocantinópolis                 NaN
       Wanderlândia                   NaN
       Xambioá                        NaN

[2993 rows x 46 columns]

In [120]:
c = df[(df.estado == 'MG') & (df.municipio == 'Uberlândia')][['data', 'obitosAcumulado']].set_index('data')

In [122]:
c.head()

            obitosAcumulado
data
2020-03-28                0
2020-03-29                0
2020-03-30                0
2020-03-31                0
2020-04-01                0

In [94]:
c.at['obitosAcumulado', 'estado'] = 'MG'
c.at['obitosAcumulado', 'municipio'] = 'Uberlândia'

In [117]:
# c = c.set_index(['estado', 'municipio'])
c.loc['2020-03-28']
df2.loc[('MG', 'Uberlândia'), '2020-03-28']

nan

In [ ]:
df

In [140]:
for uf_mun in df2.index:
    c = df[(df.estado == uf_mun[0]) & (df.municipio == uf_mun[1])][['data', 'obitosAcumulado']].set_index('data')
    for data in c.index:
        df2.at[(uf_mun[0], uf_mun[1]), data] = c.loc[data].obitosAcumulado
    # print(uf_mun[0], uf_mun[1])

In [149]:
# c.loc['2020-03-29'].obitosAcumulado
# df2.iloc[0]
# df2 = df2.fillna(0)
df2.loc[('SP', 'São Paulo')]
# df2

data
2020-03-28      76
2020-03-29      89
2020-03-30     103
2020-03-31     121
2020-04-01     144
2020-04-02     164
2020-04-03     186
2020-04-04     212
2020-04-05     220
2020-04-06     244
2020-04-07     296
2020-04-08     339
2020-04-09     384
2020-04-10     409
2020-04-11     422
2020-04-12     445
2020-04-13     456
2020-04-14     512
2020-04-15     558
2020-04-16     603
2020-04-17     643
2020-04-18     686
2020-04-19     700
2020-04-20     715
2020-04-21     753
2020-04-22     778
2020-04-23     912
2020-04-24    1010
2020-04-25    1099
2020-04-26    1114
2020-04-27    1172
2020-04-28    1321
2020-04-29    1439
2020-04-30    1522
2020-05-01    1607
2020-05-02    1661
2020-05-03    1673
2020-05-04    1683
2020-05-05    1801
2020-05-06    1910
2020-05-07    1986
2020-05-08    2110
2020-05-09    2223
2020-05-10    2266
2020-05-11    2283
2020-05-12    2407
Name: (SP, São Paulo), dtype: int64

In [147]:
tam = len(df2.columns)
df3 = df2.iloc[:,1:tam]
df3.columns = list(range(0,tam-1))
df4 = df2.iloc[:,0:tam-1]
df4.columns = list(range(0,tam-1))
df5 = df3 - df4
df5.columns = df2.columns[1:]
df5.head(10)

data                         2020-03-29  2020-03-30  2020-03-31  2020-04-01  \
estado municipio
AC     Acrelândia                     0           0           0           0
       Assis Brasil                   0           0           0           0
       Brasiléia                      0           0           0           0
       Bujari                         0           0           0           0
       Capixaba                       0           0           0           0
       Cruzeiro do Sul                0           0           0           0
       Epitaciolândia                 0           0           0           0
       Feijó                          0           0           0           0
       Marechal Thaumaturgo           0           0           0           0
       Mâncio Lima                    0           0           0           0

data                         2020-04-02  2020-04-03  2020-04-04  2020-04-05  \
estado municipio
AC     Acrelândia                     0           0           0           0
       Assis Brasil                   0           0           0           0
       Brasiléia                      0           0           0           0
       Bujari                         0           0           0           0
       Capixaba                       0           0           0           0
       Cruzeiro do Sul                0           0           0           0
       Epitaciolândia                 0           0           0           0
       Feijó                          0           0           0           0
       Marechal Thaumaturgo           0           0           0           0
       Mâncio Lima                    0           0           0           0

data                         2020-04-06  2020-04-07  ...  2020-05-03  \
estado municipio                                     ...
AC     Acrelândia                     0           1  ...           0
       Assis Brasil                   0           0  ...           0
       Brasiléia                      0           0  ...           0
       Bujari                         0           0  ...           0
       Capixaba                       0           0  ...           0
       Cruzeiro do Sul                0           0  ...           0
       Epitaciolândia                 0           0  ...           0
       Feijó                          0           0  ...           0
       Marechal Thaumaturgo           0           0  ...           0
       Mâncio Lima                    0           0  ...           0

data                         2020-05-04  2020-05-05  2020-05-06  2020-05-07  \
estado municipio
AC     Acrelândia                     0           1           0           0
       Assis Brasil                   0           0           0           0
       Brasiléia                      0           0           0           0
       Bujari                         0           0           0           0
       Capixaba                       0           0           0           0
       Cruzeiro do Sul                0           0           0           0
       Epitaciolândia                 0           0           0           0
       Feijó                          0           0           0           0
       Marechal Thaumaturgo           0           0           0           0
       Mâncio Lima                    0           0           0           0

data                         2020-05-08  2020-05-09  2020-05-10  2020-05-11  \
estado municipio
AC     Acrelândia                     0           0           0           0
       Assis Brasil                   0           0           0           0
       Brasiléia                      0           0           0           0
       Bujari                         0           0           0           0
       Capixaba                       0           0           0           0
       Cruzeiro do Sul                0           0           0           0
       Epitaciolândia                 0           0           0           0
       Feijó                          0           0           0           0
       Marechal Thaumaturgo           0           0           0           0
       Mâncio Lima                    0           0           0           0

data                         2020-05-12
estado municipio
AC     Acrelândia                     0
       Assis Brasil                   0
       Brasiléia                      0
       Bujari                         0
       Capixaba                       0
       Cruzeiro do Sul                0
       Epitaciolândia                 0
       Feijó                          0
       Marechal Thaumaturgo           0
       Mâncio Lima                    0

[10 rows x 45 columns]

In [150]:
# df5.loc[('SP', 'São Paulo')]
df6 = df5.copy()
for x in df5.index:
    # print(x)
    for c in range(0,tam):
        # print(c)
        if c >= 7:
            # print(f'{df.columns[c]:<15} {df3.loc[x][c-7:c].mean():10,.0f}')
            df6.at[x, df2.columns[c]] = df5.loc[x][c-7:c].mean()
# df6 = df6.sort_values('5/11/20', ascending=False)
# df6.iloc[:10,-14:]

In [153]:
q_pico = []
d_pico = []
for x in df6.index:
    # print(f'{x[0]:<2} {x[1]:<20} {df6.loc[x].max():5} {df6.columns[df6.loc[x].argmax()]}')
    q_pico.append(df6.loc[x].max())
    d_pico.append(df6.columns[df6.loc[x].argmax()])

In [154]:
df7 = pd.DataFrame(df6.iloc[:,-1], index=df6.index)
df7['Q_Pico'] = pd.Series(q_pico, index=df6.index)
df7['D_Pico'] = pd.Series(d_pico, index=df6.index)
df7.columns = ['Ult_7_Dias', 'Pico', 'Dia_do_Pico']
df7['Delta %'] = df7['Ult_7_Dias'] / df7['Pico'] - 1
df7 = df7.sort_values('Ult_7_Dias', ascending=False)
df7.head(10)

                       Ult_7_Dias  Pico Dia_do_Pico  Delta %
estado municipio
SP     São Paulo               86    94  2020-04-29    -0.09
RJ     Rio de Janeiro          80    80  2020-05-12     0.00
CE     Fortaleza               48    48  2020-05-08     0.00
AM     Manaus                  38    41  2020-05-09    -0.07
PA     Belém                   37    37  2020-05-12     0.00
PE     Recife                  18    20  2020-05-10    -0.10
MA     São Luís                15    15  2020-05-11     0.00
SP     Osasco                   9     9  2020-05-12     0.00
PA     Ananindeua               8     8  2020-05-12     0.00
BA     Salvador                 7     7  2020-05-09     0.00

### Número de óbtidos por COVID-19
    Ranking 10 maiores cidades brasileiras - considerando últ 7 dias
    Valores apresentam média diária de óbitos em 7 dias
    Atualizado com dados até 12/05/2020
    Data no formato aaaa-mm-dd
    Fonte: Secretarias Estaduais de Saúde. Brasil.
    https://covid.saude.gov.br/