In [1]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.2f}'.format)

df = pd.read_csv('time_series_covid19_deaths_global.csv')
df = df.rename(columns={'Country/Region': 'Pais'})
df = df.groupby('Pais').agg(np.sum)
df = df.sort_values('5/11/20', ascending=False)
# df[df['Province/State'].notnull()][:50]
# df[df['Country/Region'] == 'France']
df = df.iloc[:,2:]
df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20
Pais,,,,,,,,,,,,,,,,,,,,,
US,0,0,0,0,0,0,0,0,0,0,...,68922,71064,73455,75662,77180,78795,79526,80682,82356,84119
United Kingdom,0,0,0,0,0,0,0,0,0,0,...,28809,29501,30150,30689,31316,31662,31930,32141,32769,33264
Italy,0,0,0,0,0,0,0,0,0,0,...,29079,29315,29684,29958,30201,30395,30560,30739,30911,31106
Spain,0,0,0,0,0,0,0,0,0,0,...,25428,25613,25857,26070,26299,26478,26621,26744,26920,27104
France,0,0,0,0,0,0,0,0,0,0,...,25204,25537,25812,25990,26233,26313,26383,26646,26994,27077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holy See,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Laos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lesotho,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Saint Lucia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Eritrea,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
# df2.iloc[0,-10:][:7]
# df.columns[-4]

In [175]:
# df = df.drop(columns=['Province/State','Lat', 'Long'])
# df = df.set_index('Pais')
# df.head(5)

In [2]:
tam = len(df.columns)
df1 = df.iloc[:,1:tam]
df1.columns = list(range(0,tam-1))
df2 = df.iloc[:,0:tam-1]
df2.columns = list(range(0,tam-1))
df3 = df1 - df2
df3.columns = df.columns[1:]
df3.head(10)

,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,...,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20
Pais,,,,,,,,,,,,,,,,,,,,,
US,0,0,0,0,0,0,0,0,0,0,...,1240,2142,2391,2207,1518,1615,731,1156,1674,1763
United Kingdom,0,0,0,0,0,0,0,0,0,0,...,289,692,649,539,627,346,268,211,628,495
Italy,0,0,0,0,0,0,0,0,0,0,...,195,236,369,274,243,194,165,179,172,195
Spain,0,0,0,0,0,0,0,0,0,0,...,164,185,244,213,229,179,143,123,176,184
France,0,0,0,0,0,0,0,0,0,0,...,304,333,275,178,243,80,70,263,348,83
Brazil,0,0,0,0,0,0,0,0,0,0,...,316,571,650,602,827,639,467,530,808,779
Belgium,0,0,0,0,0,0,0,0,0,0,...,80,92,323,76,106,60,75,51,54,82
Germany,0,0,0,0,0,0,0,0,0,0,...,127,0,282,117,118,39,20,92,77,123
Iran,0,0,0,0,0,0,0,0,0,0,...,74,63,78,68,55,48,51,45,48,50
Netherlands,0,0,0,0,0,0,0,0,0,0,...,26,87,36,85,71,64,18,16,54,52

In [3]:
df4 = df3.copy()
for x in df3.index:
    # print(x)
    for c in range(0,tam):
        # print(c)
        if c >= 7:
            # print(f'{df.columns[c]:<15} {df3.loc[x][c-7:c].mean():10,.0f}')
            df4.at[x, df.columns[c]] = df3.loc[x][c-7:c].mean()
df4 = df4.sort_values('5/11/20', ascending=False)
df4.iloc[:10,-14:]

,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20
Pais,,,,,,,,,,,,,,
US,1896,1921,1802,1828,1814,1815,1784,1809,1748,1775,1692,1680,1613,1523
Brazil,382,386,386,395,394,407,439,454,515,556,581,612,646,664
United Kingdom,714,675,644,629,621,590,569,549,533,493,487,476,466,444
Italy,345,323,332,320,300,279,286,284,280,240,239,237,228,203
France,360,335,306,291,272,267,246,230,233,221,211,206,208,180
Spain,340,288,314,296,272,255,226,218,250,196,193,188,186,178
Mexico,112,107,108,114,119,134,138,157,169,184,187,186,202,216
Canada,152,162,159,158,166,172,173,175,165,162,170,158,158,151
Belgium,157,146,121,107,102,97,119,117,116,116,116,111,106,72
India,61,63,71,72,89,97,100,105,108,111,117,104,103,109

In [4]:
q_pico = []
d_pico = []
for x in df4.index:
    # print(f'{x:<20} {df4.loc[x].max():5} {df4.columns[df4.loc[x].argmax()]}')
    q_pico.append(df4.loc[x].max())
    d_pico.append(df4.columns[df4.loc[x].argmax()])

US                    2201 4/18/20
Brazil                 664 5/13/20
United Kingdom         944 4/14/20
Italy                  814 4/2/20
France                 975 4/9/20
Spain                  865 4/3/20
Mexico                 216 5/13/20
Canada                 175 5/7/20
Belgium                333 4/16/20
India                  117 5/10/20
Germany                248 4/21/20
Russia                  96 5/13/20
Peru                    90 5/13/20
Ecuador                141 5/3/20
Sweden                 107 4/24/20
Iran                   140 4/6/20
Turkey                 122 4/21/20
Netherlands            154 4/8/20
Pakistan                32 5/11/20
Romania                 25 4/25/20
Ireland                 70 4/25/20
Indonesia               34 4/14/20
Colombia                17 5/6/20
Poland                  28 4/29/20
Ukraine                 16 5/13/20
Philippines             23 4/15/20
Japan                   23 5/5/20
Egypt                   16 5/1/20
Portugal                32 4/13/20
Hungary                 15 4/24/20
United Arab Emirates    10 5/10/20
Saudi Arabia             9 5/9/20
South Africa             9 5/9/20
Switzerland             59 4/5/20
Bangladesh              11 5/13/20
Cameroon                 8 5/11/20
Nigeria                  8 5/10/20
Chile                   10 5/3/20
Argentina                9 5/4/20
Panama                   7 5/11/20
Moldova                  6 5/10/20
Dominican Republic      13 4/12/20
Algeria                 21 4/7/20
Bosnia and Herzegovina     5 5/11/20
Bolivia                  7 5/13/20
Denmark                 16 4/7/20
Honduras                 4 5/5/20
Afghanistan              6 5/6/20
Belarus                  5 5/12/20
Sudan                    5 5/12/20
Finland                 13 4/23/20
Czechia                 10 4/11/20
Serbia                   6 4/6/20
Israel                   9 4/18/20
Kuwait                   5 5/12/20
Chad                     3 5/7/20
Tajikistan               2 5/9/20
Austria                 21 4/10/20
Somalia                  2 4/26/20
Bulgaria                 3 5/5/20
Congo (Kinshasa)         2 5/13/20
Niger                    1 4/4/20
Armenia                  1 4/14/20
Yemen                    1 5/11/20
Mali                     1 4/14/20
Kenya                    2 5/13/20
Sierra Leone             1 5/5/20
Senegal                  1 5/9/20
Guatemala                1 4/26/20
Croatia                  3 4/19/20
Cuba                     2 4/17/20
Norway                   8 4/8/20
Morocco                  8 4/10/20
Iraq                     3 3/26/20
Grenada                  0 1/23/20
Guinea-Bissau            0 1/23/20
Suriname                 0 1/23/20
Burundi                  0 1/23/20
Botswana                 0 1/23/20
MS Zaandam               0 1/23/20
Cabo Verde               0 1/23/20
Belize                   0 1/23/20
West Bank and Gaza       0 1/23/20
Eswatini                 0 1/23/20
Benin                    0 1/23/20
Angola                   0 1/23/20
Malawi                   0 1/23/20
Comoros                  0 1/23/20
Libya                    0 1/23/20
Maldives                 0 1/23/20
Syria                    0 1/23/20
Antigua and Barbuda      0 1/23/20
Djibouti                 0 1/23/20
Monaco                   0 1/23/20
Zimbabwe                 0 1/23/20
Saint Lucia              0 1/23/20
Equatorial Guinea        0 1/23/20
Sao Tome and Principe     0 1/23/20
Nicaragua                0 1/23/20
Malta                    0 1/23/20
Ethiopia                 0 1/23/20
Brunei                   0 1/23/20
Lesotho                  0 1/23/20
Gambia                   0 1/23/20
Saint Vincent and the Grenadines     0 1/23/20
Seychelles               0 1/23/20
Fiji                     0 1/23/20
Rwanda                   0 1/23/20
South Sudan              0 1/23/20
Costa Rica               0 1/23/20
Saint Kitts and Nevis     0 1/23/20
Central African Republic     0 1/23/20
Bhutan                   0 1/23/20
Cambodia                 0 1/23/20
Papua New Guinea         0 1/23/20
Timor-Leste              0 1/23/20
Holy See                 0 1/23/20
Dominica                 0 1/23/20
Western Sahara           0 1/23/20
Vietnam                  0 1/23/20
Nepal                    0 1/23/20
Uganda                   0 1/23/20
Namibia                  0 1/23/20
Madagascar               0 1/23/20
Laos                     0 1/23/20
Mozambique               0 1/23/20
Mongolia                 0 1/23/20
Liechtenstein            0 1/23/20
Mauritania               0 1/23/20
Burma                    0 1/23/20
Cote d'Ivoire            1 4/21/20
Barbados                 0 1/23/20
Uruguay                  0 1/23/20
New Zealand              1 4/14/20
Singapore                0 1/23/20
Tanzania                 1 4/20/20
Ghana                    1 4/28/20
Lebanon                  1 3/30/20
Slovakia                 1 4/17/20
Kosovo                   1 4/20/20
Albania                  1 3/28/20
Azerbaijan               1 4/18/20
Kazakhstan               1 4/14/20
San Marino               2 3/21/20
Tunisia                  2 4/5/20
Andorra                  2 4/4/20
Burkina Faso             1 3/27/20
Lithuania                2 4/14/20
Thailand                 2 4/3/20
Estonia                  2 4/6/20
North Macedonia          3 4/30/20
Australia                4 4/8/20
Luxembourg               4 4/11/20
Slovenia                 4 4/11/20
Malaysia                 4 4/4/20
Greece                   5 4/3/20
Korea, South             6 3/25/20
China                  185 4/17/20
Liberia                  1 4/28/20
El Salvador              0 1/23/20
Taiwan*                  0 1/23/20
Latvia                   1 4/24/20
Zambia                   0 1/23/20
Bahrain                  0 1/23/20
Trinidad and Tobago      0 1/23/20
Sri Lanka                0 1/23/20
Montenegro               0 1/23/20
Gabon                    0 1/23/20
Jordan                   0 1/23/20
Jamaica                  0 1/23/20
Mauritius                0 1/23/20
Iceland                  0 1/23/20
Guyana                   0 1/23/20
Uzbekistan               0 1/23/20
Paraguay                 0 1/23/20
Venezuela                0 1/23/20
Georgia                  0 1/23/20
Congo (Brazzaville)      0 1/23/20
Guinea                   0 1/23/20
Bahamas                  1 4/9/20
Togo                     0 1/23/20
Kyrgyzstan               0 1/23/20
Diamond Princess         0 1/23/20
Qatar                    0 1/23/20
Haiti                    0 1/23/20
Cyprus                   1 4/2/20
Oman                     0 1/23/20
Eritrea                  0 1/23/20

In [5]:
df5 = pd.DataFrame(df4.iloc[:,-1], index=df4.index)
df5['Q_Pico'] = pd.Series(q_pico, index=df4.index)
df5['D_Pico'] = pd.Series(d_pico, index=df4.index)
df5.columns = ['Ult_7_Dias', 'Pico', 'Dia_do_Pico']
df5['Delta %'] = df5['Ult_7_Dias'] / df5['Pico'] - 1
df5 = df5.sort_values('Ult_7_Dias', ascending=False)
df5.head(10)

                Ult_7_Dias  Pico Dia_do_Pico  Delta %
Pais
US                    1523  2201     4/18/20    -0.31
Brazil                 664   664     5/13/20     0.00
United Kingdom         444   944     4/14/20    -0.53
Mexico                 216   216     5/13/20     0.00
Italy                  203   814      4/2/20    -0.75
France                 180   975      4/9/20    -0.82
Spain                  178   865      4/3/20    -0.79
Canada                 151   175      5/7/20    -0.14
India                  109   117     5/10/20    -0.07
Ecuador                102   141      5/3/20    -0.28

### Número de óbtidos por COVID-19
    Ranking 10 maiores países - considerando últ 7 dias
    Valores apresentam média diária de óbitos em 7 dias
    Atualizado com dados até 13/05/2020
    Data no formato mm/dd/aa
    Fonte: CSSE at Johns Hopkins University
    https://github.com/CSSEGISandData

# Título tam 1

## Título tam 2

### Título tam 3

In [ ]:
	Ult_7_Dias	Pico	Dia_do_Pico	Delta %
Pais				
US	1613	2201	4/18/20	-0.27
Brazil	646	646	5/12/20	0.00
United Kingdom	466	944	4/14/20	-0.51
Italy	228	814	4/2/20	-0.72
France	208	975	4/9/20	-0.79
Mexico	202	202	5/12/20	0.00
Spain	186	865	4/3/20	-0.78
Canada	158	175	5/7/20	-0.10
Ecuador	108	141	5/3/20	-0.23
Germany	106	248	4/21/20	-0.57