In [1]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.2f}'.format)

df = pd.read_csv('time_series_covid19_deaths_global.csv')
df = df.rename(columns={'Country/Region': 'Pais'})
df = df.groupby('Pais').agg(np.sum)
df = df.sort_values('5/11/20', ascending=False)
# df[df['Province/State'].notnull()][:50]
# df[df['Country/Region'] == 'France']
df = df.iloc[:,2:]
df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
Pais,,,,,,,,,,,,,,,,,,,,,
US,0,0,0,0,0,0,0,0,0,0,...,71064,73455,75662,77180,78795,79526,80682,82356,84119,85898
United Kingdom,0,0,0,0,0,0,0,0,0,0,...,29501,30150,30689,31316,31662,31930,32141,32769,33264,33693
Italy,0,0,0,0,0,0,0,0,0,0,...,29315,29684,29958,30201,30395,30560,30739,30911,31106,31368
Spain,0,0,0,0,0,0,0,0,0,0,...,25613,25857,26070,26299,26478,26621,26744,26920,27104,27321
France,0,0,0,0,0,0,0,0,0,0,...,25537,25812,25990,26233,26313,26383,26646,26994,27077,27428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holy See,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Laos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lesotho,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Saint Lucia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Eritrea,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
# df2.iloc[0,-10:][:7]
# df.columns[-4]

In [175]:
# df = df.drop(columns=['Province/State','Lat', 'Long'])
# df = df.set_index('Pais')
# df.head(5)

In [2]:
tam = len(df.columns)
df1 = df.iloc[:,1:tam]
df1.columns = list(range(0,tam-1))
df2 = df.iloc[:,0:tam-1]
df2.columns = list(range(0,tam-1))
df3 = df1 - df2
df3.columns = df.columns[1:]
df3.head(10)

,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
Pais,,,,,,,,,,,,,,,,,,,,,
US,0,0,0,0,0,0,0,0,0,0,...,2142,2391,2207,1518,1615,731,1156,1674,1763,1779
United Kingdom,0,0,0,0,0,0,0,0,0,0,...,692,649,539,627,346,268,211,628,495,429
Italy,0,0,0,0,0,0,0,0,0,0,...,236,369,274,243,194,165,179,172,195,262
Spain,0,0,0,0,0,0,0,0,0,0,...,185,244,213,229,179,143,123,176,184,217
France,0,0,0,0,0,0,0,0,0,0,...,333,275,178,243,80,70,263,348,83,351
Brazil,0,0,0,0,0,0,0,0,0,0,...,571,650,602,827,639,467,530,808,779,759
Belgium,0,0,0,0,0,0,0,0,0,0,...,92,323,76,106,60,75,51,54,82,60
Germany,0,0,0,0,0,0,0,0,0,0,...,0,282,117,118,39,20,92,77,123,23
Iran,0,0,0,0,0,0,0,0,0,0,...,63,78,68,55,48,51,45,48,50,71
Netherlands,0,0,0,0,0,0,0,0,0,0,...,87,36,85,71,64,18,16,54,52,28

In [3]:
df4 = df3.copy()
for x in df3.index:
    # print(x)
    for c in range(0,tam):
        # print(c)
        if c >= 7:
            # print(f'{df.columns[c]:<15} {df3.loc[x][c-7:c].mean():10,.0f}')
            df4.at[x, df.columns[c]] = df3.loc[x][c-7:c].mean()
df4 = df4.sort_values('5/11/20', ascending=False)
df4.iloc[:10,-14:]

,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
Pais,,,,,,,,,,,,,,
US,1921,1802,1828,1814,1815,1784,1809,1748,1775,1692,1680,1613,1523,1462
Brazil,386,386,395,394,407,439,454,515,556,581,612,646,664,687
United Kingdom,675,644,629,621,590,569,549,533,493,487,476,466,444,429
Italy,323,332,320,300,279,286,284,280,240,239,237,228,203,201
France,335,306,291,272,267,246,230,233,221,211,206,208,180,205
Spain,288,314,296,272,255,226,218,250,196,193,188,186,178,178
Mexico,107,108,114,119,134,138,157,169,184,187,186,202,216,216
Canada,162,159,158,166,172,173,175,165,162,170,158,158,151,150
Belgium,146,121,107,102,97,119,117,116,116,116,111,106,72,69
India,63,71,72,89,97,100,105,108,111,117,104,103,109,108

In [4]:
q_pico = []
d_pico = []
for x in df4.index:
    # print(f'{x:<20} {df4.loc[x].max():5} {df4.columns[df4.loc[x].argmax()]}')
    q_pico.append(df4.loc[x].max())
    d_pico.append(df4.columns[df4.loc[x].argmax()])

In [5]:
df5 = pd.DataFrame(df4.iloc[:,-1], index=df4.index)
df5['Q_Pico'] = pd.Series(q_pico, index=df4.index)
df5['D_Pico'] = pd.Series(d_pico, index=df4.index)
df5.columns = ['Ult_7_Dias', 'Pico', 'Dia_do_Pico']
df5['Delta %'] = df5['Ult_7_Dias'] / df5['Pico'] - 1
df5 = df5.sort_values('Ult_7_Dias', ascending=False)
df5.head(10)

                Ult_7_Dias  Pico Dia_do_Pico  Delta %
Pais
US                    1462  2201     4/18/20    -0.34
Brazil                 687   687     5/14/20     0.00
United Kingdom         429   944     4/14/20    -0.55
Mexico                 216   216     5/13/20     0.00
France                 205   975      4/9/20    -0.79
Italy                  201   814      4/2/20    -0.75
Spain                  178   865      4/3/20    -0.79
Canada                 150   175      5/7/20    -0.14
India                  108   117     5/10/20    -0.08
Russia                  97    97     5/14/20     0.00

### Número de óbtidos por COVID-19
    Ranking 10 maiores países - considerando últ 7 dias
    Valores apresentam média diária de óbitos em 7 dias
    Atualizado com dados até 14/05/2020
    Data no formato mm/dd/aa
    Fonte: CSSE at Johns Hopkins University
    https://github.com/CSSEGISandData

# Título tam 1

## Título tam 2

### Título tam 3

In [ ]:
	12/05
	Ult_7_Dias	Pico	Dia_do_Pico	Delta %
Pais				
US	1613	2201	4/18/20	-0.27
Brazil	646	646	5/12/20	0.00
United Kingdom	466	944	4/14/20	-0.51
Italy	228	814	4/2/20	-0.72
France	208	975	4/9/20	-0.79
Mexico	202	202	5/12/20	0.00
Spain	186	865	4/3/20	-0.78
Canada	158	175	5/7/20	-0.10
Ecuador	108	141	5/3/20	-0.23
Germany	106	248	4/21/20	-0.57

In [ ]:
	13/05
    Ult_7_Dias	Pico	Dia_do_Pico	Delta %
Pais				
US	1523	2201	4/18/20	-0.31
Brazil	664	664	5/13/20	0.00
United Kingdom	444	944	4/14/20	-0.53
Mexico	216	216	5/13/20	0.00
Italy	203	814	4/2/20	-0.75
France	180	975	4/9/20	-0.82
Spain	178	865	4/3/20	-0.79
Canada	151	175	5/7/20	-0.14
India	109	117	5/10/20	-0.07
Ecuador	102	141	5/3/20	-0.28